<div class="input-group">
    <input type="text" class="form-control" mask="999-99-999-9999-9" placeholder="ISBN 1" aria-label="ISBN 1 13 digits only">
    <span class="help-block">999-99-999-9999-9</span>
</div>
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
</div>
